[[command]]
COMMAND_GROUP = "Server status"
NAME = "server_date"
LABEL = "Check the server date"
EXEC = "date"

[[command]]
COMMAND_GROUP = "Server status"
NAME = "server_uptime"
LABEL = "Check the server uptime"
EXEC = "uptime"

[[command]]
COMMAND_GROUP = "Server status"
NAME = "server_memory"
LABEL = "Check the server memory"
EXEC = "free"

[[command]]
COMMAND_GROUP = "Server status"
NAME = "server_kernel_log"
LABEL = "Check the server's kernel log'"
EXEC = "dmesg"


[[command]]
COMMAND_GROUP = "Server management"
NAME = "restart_nginx"
LABEL = "Restart Nginx"
EXEC = "systemctl restart nginx"

[[command]]
COMMAND_GROUP = "Server management"
NAME = "status_nginx"
LABEL = "Status of Nginx"
EXEC = "systemctl status nginx"

[[command]]
COMMAND_GROUP = "Server management"
NAME = "restart_mysql"
LABEL = "Restart MySQL"
EXEC = "systemctl restart mysql"

[[command]]
COMMAND_GROUP = "Server management"
NAME = "status_mysql"
LABEL = "Status of MySQL"
EXEC = "systemctl status mysql"

[[command]]
COMMAND_GROUP = "Server management"
NAME = "server_reboot"
LABEL = "Reboot the server (handle with care!)"
EXEC = "reboot"


[[command]]
COMMAND_GROUP = "My custom service"
NAME = "rebuild_my_service"
LABEL = "Rebuild my custom service"
SHELL = true
USER = "john"
GROUP = "john"
WORKING_DIR = "/home/john/projects/my_custom_service"
EXEC = "make clean && make && make install"
TIMEOUT_MILLIS = 60000

[[command]]
COMMAND_GROUP = "My custom service"
NAME = "run_my_service"
LABEL = "Run my custom service"
USER = "www-data"
GROUP = "www-data"
WORKING_DIR = "/var/www/my_custom_service"
EXEC = "./my_service"
NO_TIMEOUT = true


[[command]]
COMMAND_GROUP = "Misc tests"
NAME = "hi"
LABEL = "Say hi !"
SHELL = true
EXEC = "echo \"[`date`] hi !\" | tee -a hi.txt"
WORKING_DIR = "/tmp"

[[command]]
COMMAND_GROUP = "Misc tests"
NAME = "custom_script"
LABEL = "My custom script"
WORKING_DIR = "/home/user/"
EXEC = "/usr/bin/custom_script.sh"

[[command]]
COMMAND_GROUP = "Misc tests"
NAME = "test_timeout"
LABEL = "Timeout test"
TIMEOUT_MILLIS = 2000
EXEC = "sleep 5"