[Unit]
Description=ShellBox
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/shbx/
ExecStart=/var/www/shbx/shbx

[Install]
WantedBy=multi-user.target